#backToTheTop {
	bottom: 30px;
	margin-left: 1550px;
	position: fixed;
	color: #ffffff;
}

#backToTheTop:hover {
	color: #666666;
}

.glyphicon-triangle-top {
    color: #ffffff;
    font-size: 50px;
}

.glyphicon-triangle-top:hover {
    color: #666666;
    font-size: 50px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* List Navbar */

.nav {
    border-color: #FFFFFF;
}

.nav-tabs li a {
	border: 1px solid white;
	color: white;
}

.nav-tabs li a:hover, .nav-tabs a:focus{
	color: black;
}


/* List Pictures formats */

.listPictures {
	padding: 0;
	list-style-type: none;
}

.listPictures img {
	width: 250px;
	height: 300px;
}

.listPictures li {
	float: left;
	margin: 10px;
}

.listPictures li p {
	text-align: center;
}

.clear {
	clear: left;
}