/* General styles */

body {
	background-color: black;
	height: 100%;
}

.content {
	color: white;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

html {
	min-height: 100%;
	position: relative;
}


a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
}

/* Used in "About Us"-section. */

.jumbotron {
	margin-top: 2em;
	background-color: black;
	color: white;
}

/* Style for top background image. */

#top_background {
	width: 100%;
	height: 100%;
}

#topdiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

/* Style for the menu. */

#iconOpenMenu {
	position: fixed;
	z-index: 100;
}

.icon {
	width: 2em;
	height: 2em;
}

#menu {
	z-index: 100;
	position: fixed;
	left: -250px;
	height: 100%;
	background-color: rgb(64,64,64);
	box-shadow: 1px 0 20px 1px rgba(150,150,150,0.68) ;
}

.menubtn {
	background-color: rgb(64,64,64);
	border: none;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	color: lightgrey;
}

.overlay {
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
}

/* Style for presenting a whiskey */

.aboutwhiskycontent {
	color: rgb(224,244,244);
	margin-top: 2em;
	margin-left: 10em;
}

/* Removes margin if using a smaller device. */
@media (max-width: 480px) {
	.aboutwhiskycontent {
		margin-left: 0;
	}
}

/* Comment section styles */

.formfield {
	color: black;
}

.formbutton {
	color: black;
	border: none;
	border-radius: .25em;	
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.formbutton:hover {
    background-color: black;
    color: white;
}