body {
	background-color: black;
}

.content {
	position: relative;
	left: 7.5em;
	top: 2em;	
}

.icon {
	width: 2em;
	height: 2em;
}


#top_background {
	width: 100%;
	height: 100%;
}

#topdiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#iconOpenMenu {
	position: fixed;
}

#menu {
	position: fixed;
	left: -250px;
}