/* Removes scroll bar. */
::-webkit-scrollbar { 
    display: none;
}

/* General styles. */
html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url("../images/blackBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.hiddenbutton {
	visibility: hidden;
}

.content {
	color: white;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
}

.form-horizontal {
	max-width: 600px;
	background-color: #333333;
	padding: 2%;
	border-radius: 1em; 
}

.row {
	overflow: hidden;
}

.jumbotron {
	background-color: black;
	color: white;
	margin-left: 3%;
	margin-top: 2em;
	background: rgba(0, 0, 0, 0);
	display: none;
}

/* Size setting for all icons across the web site */
.icon {
	width: 2.5em;
	height: 2.5em;
}

/* Styles for the menu. */
.menuSmallIcon {
	width: 1.5em;
	height: 1.5em;
}

#iconOpenMenu {
	position: fixed;
	z-index: 100;
}

#menu {
	z-index: 100;
	position: fixed;
	top: -2px;
	left: -250px;
	height: 100%;
	background-color: black;
	box-shadow: 1px 0 20px 1px #070707;
}

.menubtn {
	text-align: left;
	background-color: black;
	border: none;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	color: lightgrey;
}

.menubtn:nth-child(7), .menubtn:nth-child(8) {
	position: relative;
	top: 250px;
}

.overlay {
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

/* Styles for forms */
form {
	margin-top: 4em;
}

.formfield {
	color: black;
	border-radius: .5em;
}

.formbutton {
	color: black;
	border: none;
	border-radius: .25em;	
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	font-family: Verdana, sans-serif;
}

.formbutton:hover {
    background-color: black;
    color: white;
}

.commentfield {
	margin-top: 2%;
	float: left;
	color: black;
}

.commentfield .row:nth-child(odd) {
	background-color: grey;
}

.commentfield .row {
	margin-top: 10px;
	border-radius: 1em;
	background-color: lightgrey;
}

.content.container-fluid h1 {
	font-size: 400%;
}

.content.container-fluid h1 .icon {
	width: 1em;
	height: 1em;
}

#selectedWhiskyTable {
	margin-top: 2em;
	width: 100%;
}

/* Login Page Styles */
#loginwelcomemsg {
	display: none;
	position: fixed;
	top: 300px;
	left: 3%;
	color: white;
}

#loginAuth {
	position: fixed;
	top: 350px;
	left: 3%;
	color: white;
}

#errormsg {
	position: fixed;
	top: 100px;
	left: 3%;
	color: red;
}

#clearmessage {
	color: red;
	font-size: 20px;
}

#loginwrapper {
	background-image: url("../images/login-background.jpg");
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.loginfield {
	width: 10em;
	color:grey
}

.loginfield input {
	border-radius: .25em;
}

.loginfield input:focus {
	background-color: lightgrey;
	color: black;
}

/* SelectedWhisky */
#selectedWhiskyMainRow {
	border: 10px double rgb(141,141,141);
	border-bottom-color: black;
	border-top-color: black;
}

#selectedWhiskyMiddleDiv {
	border: 10px double rgb(141,141,141);
	border-bottom-color: black;
	border-top-color: black;
}

/* Id for right window in Selected Whisky */
.page-header {
	white-space: nowrap;
}

#selectedWhiskyPictureDiv img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#picMiddle {
	margin-top: 3em; 
	border-radius: 1em;
	width: 450px;
}

.selectedWhiskyH1 {
	font-size: 3em;
	color: rgb(180,180,100);
	font-family: Lucida Bright, Georgia, Serif;
}

/* Styles for index page. */
.indexdiv {
	margin-top: 3em;
	position: relative;
}

.indexdiv img {
	opacity: .6;
	border-radius: 2em;
}

.indexdiv p {
	color: white;
	font-size: 225%;
	position: absolute;
	top: 40%;
	left: 20%;
	margin: auto;
}

#titleguestbook {
	left: 40%;
}

#imgurladdwhisky {
	padding-top: 10.5px;
}

/* Media Settings */
@media (max-width: 480px) {
	.content {
		margin-left: 3.5%;
		margin-right: 3.5%;
		text-align: center;
	}
	.formfield {
         min-width: 200px;
    }
	.commentfield
	{
		text-align: left;
	}
	.indexdiv p {
		font-size: 175%;
		position: absolute;
	}
	#titleguestbook {
		left: 35%;
	}
}

@media (max-width :639px) {
	.indexdiv p {
		font-size: 175%;
	}
	#titleguestbook {
		left: 35%;
	}
}

@media (min-width :640px) {
    .formfield {
         min-width: 480px;
    }
    .commentfield {
    	min-width: 600px;
    }
}

@media (min-width :1200px) {
    .formfield {
         min-width: 600px;
    }
}